/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/.htaccess
/.htaccess.sample
/.php_cs
/.travis.yml
/CHANGELOG.md
/CONTRIBUTING.md
/COPYING.txt
/Gruntfile.js.sample
/ISSUE_TEMPLATE.md
/LICENSE.txt
/LICENSE_AFL.txt
/index.php
/nginx.conf.sample
/package.json.sample
/php.ini.sample
/README.md

/app/code/Magento
/app/design/*/Magento
/app/etc
/app/i18n/magento
/app/*.*

/bin
/dev
/lib
/pub
/setup
/var
/vendor
/update
/phpserver
/generated

/fix_urls.sh
/deploy.sh

/node_modules
/Gruntfile.js
/package*.json
